html
    head
        title='New Project'
    body
        include commonheader.pug
        form(method='post', action='/projects/new', enctype='multipart/form-data')
            div
                label(for='name') Name:
                div
                    input(type='text', name='name')
            div
                label(for='desc') Description:
                div
                    input(type='text', name='desc')
            div
                label(for='gitrepo') Github URL:
                div
                    input(type='text', name='gitrepo')
            div
                label(for='maxnumartifacts') Number of Artifacts:
                div
                    input(type='number', name='numartifacts')
            div
                label Supported Operating Systems:
                div
                    input(type='checkbox', name='osWindows', value='true')
                    | Microsoft Windows
                div
                    input(type='checkbox', name='osMac', value='true')
                    | Mac OS
                div
                    input(type='checkbox', name='osLinux', value='true')
                    | Linux (any distro)
            div
                button(type='submit') Submit