html
    head
        title=project.name
    body
        include commonheader.pug
        h1=project.name
        form(method='post', action='/project/'+projectid+'/upload', enctype='multipart/form-data')
            div
                label(for='desc') Artifact Description:
                div
                    input(type='text', name='desc')
            if project.gitrepo !== undefined
                div
                    label(for='commitid') Commit ID:
                    div
                        input(type='text', name='commitid')
            div
                label(for='files') Files To Upload:
                div
                    input(type='file', name='files', multiple)
            div
                button(type='submit') Submit
